.display-none {
    display: none;
}

.popup-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #89898961;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 16px 8px;
    border-radius: 8px;
    text-align: right;
    background-color: #fff;
}